// This must be compiled after it is edited, for more information, see
// http://www.sass-lang.org

@import "compass/css3";

$back_color: rgba(51, 51, 51, 1);
$home_text_color: rgba(102, 102, 102, 1);
$text_color: rgba(179, 179, 179, 1);
$dark_color: rgba(31, 31, 31, 1);
$divide_color: rgba(77, 77, 77, 1);
$shadow_color: rgba(0,0,0,0.5);
$bt_text_color: rgba(204,204,204,1);

body {
  background-color: $back_color;
}

.x-panel-body {
  //background-color: #f2f2f2;
}

.x-scrollbar {
  //change 
}

div.x-toolbar.home-toolbar {
  height: 85px;
  background: $dark_color;
  border-bottom: darken($dark_color, 5%) 1px none;
  @include box-shadow($shadow_color, 0px, 1px, 16px);
  
  div.x-container {
    width:100%;
  }
  div.home-toolbar-img {
    width: 300px;
    height: 75px;
    margin:auto;
    background: url('../imgs/home_header.png') no-repeat;
  }
}

div.home-view {
  
  ul.home-container {
    margin: 10px 3px;
  }
  
  li.home-item {
    float: left;
    width: 33.33%;
    padding: 10px 3px;
    
    div {
      background-color: lighten($dark_color, 5%);
      width: 90px;
      height: 120px;
      padding-top: 3px;
      margin: auto;
      @include border-radius(8px);
      
      &.x-item-selected, &.x-item-pressed {
        background-color: $dark_color;
      }
    }
    
    p {
      color: $home_text_color;
      text-align: center;
      line-height: 1em;
    }
    
    img {
      display: block;
      margin: 5px auto;
    }
  }
}

div.x-toolbar.navbar {
  height: 47px;
  background: $dark_color;
  border-bottom: darken($dark_color, 10%) 1px none;
  @include box-shadow($shadow_color, 0px, 1px, 8px);
}

.x-toolbar .x-button.x-button-plain {
  border: $divide_color 1px solid;
  background: $back_color;
  color: $bt_text_color;
  @include border-radius(0px);
  height: 33px;
  margin: 0px;
  padding: 0px 5px 0px 25px;
  
  & > span {
    font-size: 1em;
    margin: auto;
    padding-bottom: 1px;
  }
  
  &.x-button-pressed {
    background: darken($back_color, 5%);
  }
}

.x-toolbar .x-button.x-button-plain.back-bt {
  background: $back_color url('../imgs/bt-back.png') no-repeat 3px 4px;
  
  &.x-button-pressed {
    background: darken($back_color, 5%) url('../imgs/bt-back.png') no-repeat 3px 4px;
  }
}

.x-list .x-list-group-items, .x-list.x-list-flat .x-list-parent {
  
  & > * {
    border-top: none;
    border-bottom: $divide_color 1px solid;
    color: $text_color;
  }
  
  & > .x-item-pressed {
    background: darken($back_color, 5%);
    border-top: none;
  }
  
  & > .x-item-selected {
    background: darken($back_color, 5%);
    border-top: none;
    border-bottom: $divide_color 1px solid;
    @include linear-gradient( 
      color-stops(
        darken($back_color, 8%), 
        darken($back_color, 5%) 30%,
        darken($back_color, 5%) 70%,
        darken($back_color, 8%) 100%
      ));
  }
}

.list-view {
  background-color: $back-color;
  color: $text_color;
  
  div.sessionlist-item {
    
  }
  
  div.userskilllist-item {
    
  }
}
