// This must be compiled after it is edited, for more information, see
// http://www.sass-lang.org

$include_default_icons: false;
$include_default_uis: false;

$base_color: rgba(31, 31, 31, 1);
$list_active_color: lighten($base_color, 10%);

$back_color: lighten($base_color, 2%);
$text_color: rgba(200, 200, 200, 1);

$divide_color: lighten($base_color, 10%);
$shadow_color: rgba(0, 0, 0, 0.5);

$green_color: rgba(0, 100, 0, 0.4);
$red_color: rgba(100, 0, 0, 0.4);

$loading_font: 1.2em;
$title_font: 1.1em;
$info_font: 0.9em;
$date_font: 0.9em;

@import 'sencha-touch/default/all';
@import "compass/css3";

@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
//@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
//@include sencha-carousel;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;

@mixin bodyBack() {
  background: $back_color url('../imgs/navBk.png') repeat;
}

@mixin loading() {
  font-size: $title_font;
  padding: 1em;
  padding-left: 2.5em;
  display:block;
  background: transparentize($base_color, 0.2) url('../imgs/loading.gif') 0.6em center no-repeat;
}

body {
  @include bodyBack();
}

.x-fullscreen {
  background: none;
}

.x-scrollbar {
  //change 
}

div.x-toolbar.home-toolbar {
  height: 85px;
  background: $base_color url('../imgs/home_header.png') center center no-repeat;
  border-bottom: black 4px solid;
  @include box-shadow(black, 0px, 2px, 16px);
  
  div.x-container {
    width:100%;
  }
  div.home-toolbar-img {
    width: 300px;
    height: 75px;
    margin:auto;
  }
}

div.home-view {
  
  ul.home-container {
    margin: 10px 3px;
  }
  
  li.home-item {
    float: left;
    width: 33.33%;
    padding: 10px 3px;
    
    div {
      background-color: $base_color;
      width: 90px;
      height: 80px;
      padding-top: 3px;
      margin: auto;
      @include border-radius(8px);
      
      &.x-item-selected, &.x-item-pressed {
        background-color: darken($base_color, 5%);
      }
    }
    
    p {
      color: darken($text_color, 10%);
      text-align: center;
      line-height: 1em;
    }
    
    img {
      display: block;
      margin: 5px auto;
    }
  }
}

div.x-toolbar.navbar {
  height: 47px;
  background: darken($back_color, 10%);
  border-bottom: none;
  @include box-shadow(black, 0px, 0px, 12px);
}

.x-toolbar .x-button.x-button-plain {
  border: $divide_color 1px solid;
  background: $back_color;
  color: $text_color;
  @include border-radius(0);
  height: 35px;
  margin: 0px;
  padding: 0px 5px 0px 25px;
  
  & > span {
    font-size: 1em;
    margin: auto;
    padding-bottom: 1px;
  }
  
  &.x-button-pressed {
    background: darken($back_color, 5%);
  }
}

.x-toolbar .x-button.x-button-plain.back-bt {
  background: $back_color url('../imgs/bt-back.png') no-repeat 3px center;
  
  &.x-button-pressed {
    background: darken($back_color, 5%) url('../imgs/bt-back.png') no-repeat 3px center;
  }
}

.x-toolbar .x-button.x-button-plain.refresh-bt {
  width: 35px;
  background: $back_color url('../imgs/bt-refresh.png') no-repeat center center;
  
  &.x-button-pressed {
    background: darken($back_color, 5%) url('../imgs/bt-refresh.png') no-repeat center center;
  }
}

.x-toolbar.x-docked-bottom.info-toolbar {
  border: none;
  
  .x-button.x-button-plain.info-bt {
    width: 35px;
    background: $back_color url('../imgs/bt-info.png') no-repeat center center;
    
    &.x-button-pressed {
      background: darken($back_color, 5%) url('../imgs/bt-info.png') no-repeat center center;
    }
  }
}

.x-list .x-list-group-items, .x-list.x-list-flat .x-list-parent {
  
  & > .x-list-item {
    padding: 0.2em;
    border-top: none;
    border-bottom: $divide_color 1px solid;
    color: $text_color;
    background-color: transparentize($base_color, 0.4);
    min-height: 0px;
    
    .x-list-item-body {
      padding: 0.6em;
    }
    
    &.x-item-pressed {
      background: darken($back_color, 10%);
      border-top: none;
    }
    
    &.x-item-selected {
      color: $text_color;
      border-top: none;
      border-bottom: $divide_color 1px solid;
      @include linear-gradient( 
        color-stops(
          darken($back_color, 12%), 
          darken($back_color, 10%) 30%,
          darken($back_color, 10%) 70%,
          darken($back_color, 12%) 100%
        ));
    }
    
    div.loading-indicator {
      @include loading();
    }
  }
}

div.msg {
  font-size: $title_font;
  padding: 0.8em;
  display:block;
  background: transparentize($base_color, 0.2);
  border-bottom: $divide_color 1px solid;
}

a {
  color: $text_color;
}

div.list-view {
  @include bodyBack();
  
  div.loading-indicator {
    @include loading();
    border-bottom: $divide_color 1px solid;
  }
  
  .x-list-header {
    background: lighten($base_color, 20%);
    @include box-shadow(black, 0px, 0px, 8px);
    padding: 0.2em 0.9em;
    font-size: 0.8em;
  }
}

#userListView {
  
  .searchBar > div {
    padding:0.4em;
    
    @include linear-gradient( 
      color-stops(
        lighten($base_color, 2%),
        darken($base_color, 3%) 100%
      ));
    font-size: $title_font;
    border: none;
    @include box-shadow(black, 0px, 0px, 8px);
    
    .x-field {
      @include border-radius(0.9em);
      padding: 0;
      margin: 0;
      min-height: 1.8em;
      background: #f2f2f2;
    }
    
    .x-input-text, .x-input-search {
      border: none;
      padding: 0 0.5em;
      min-height: 1.8em;
      @include border-radius(0.9em);
      background: #f2f2f2;
    }
    
    .x-field-clear-container {
      min-height: 1.8em;
      @include border-radius(0.9em);
      background: #f2f2f2;
      
      .x-field-clear {
        font-size: 1.2em;
        //line-height: 1em;
      }
    }
  }
}

#sessionListView {

  div.sessionlist-item {    
    .title {
      clear: both;
      font-size: $title_font;
      padding-top: 5px;
    }
    .place, .date {
      color: darken($text_color, 10%);
      font-size: $date_font;
      background-color: darken($base_color, 8%);
      padding: 1px;
    }
    .place {
      float: right;
    }
    .date {
      float: left;
    }
    .info {
      //
    }
  }
}

#calendarListView {
  
  .x-list-header {
    padding: 0.3em 0.5em;
  }
  
  .x-list-item {
    padding: 0px;
    
    .x-list-item-body {
      padding: 0px;
    }
  }
  
  div.calendarlist-item, div.calendarlist-break-item {
    display: table;
    width: 100%;
    padding: 0;
    
    & > div {
      display: table-cell;
      //vertical-align: middle;
    }
    & > .right-cell {
      padding: 0.6em;
    }
    
    .title {
      clear: both;
    }
    
    .place {
      color: darken($text_color, 10%);
      background-color: darken($base_color, 8%);
      padding: 1px;
      font-size: $date_font;
    }
    .date {
      color: darken($text_color, 10%);
      background-color: darken($base_color, 8%);
      width: 58px;
      text-align: center;
      font-size: $date_font;
      height: auto;
    }
    .info {
      margin-top: 5px;
      font-size: $date_font;
    }
  }
}

#projectListView {
  
  div.projectlist-item {
    display: table;
    width: 100%;
    
    .title {
      font-size: $title_font;
      display: table-cell;
      vertical-align: middle;
    }
    .right-box {
      font-size: 1.2em;
      border: darken(transparentize($base_color, 0.2), 8%) 2px solid;
      @include border-radius(8px);
      padding: 5px;
      
      display: table-cell;
      vertical-align: middle;
      width: 50px;
      text-align: center;
      
      &.open {
        background-color: $green_color;
      }
      &.closed {
        background-color: $red_color;
      }
    }
  }
}

#twitterView {

  div.tweet {
    @include display-box;
    @include box-orient(horizontal);
    border: none;
    padding: 8px;
    
    & > img {
      padding: 2px;
      margin-top: 1px;
      width: 40px;
      height: 40px;
      background-color: $text_color;
    }
    
    .tweet-bubble {
      @include box-flex(1);
    }
    
    .tweet-bubble > div {
      @include border-radius(4px);
      margin: 0px 0px 0px 10px;
    }
    
    .tweet-content {
      padding: 5px;
      background: $back_color;
      
      h1 {
        clear: both;
        font-size: $title_font - 0.2;
        padding-top: 5px;
      }
      p {
        color: darken($text_color, 10%);
        font-size: $date_font - 0.1;
        background-color: darken($base_color, 2%);
        padding: 1px;
      }
      .user {
        float: left;
      }
      .date {
        float: right;
      }
    }
  }
}

form.form-view.x-form > .x-panel-body {
  @include bodyBack();
  
  .x-form-fieldset-title {
    font-size: $title_font + 0.1;
    color: lighten($text_color, 10%);
    text-shadow: none;
  }
  
  .x-form-fieldset {
  
    & > .x-panel-body {
      border: none;
    }
    
  }
  
  .x-field > input {
    font-size: $title_font;
    background-color: lighten($base_color, 90%);
  }
  
  .x-button {
    font-size: $title_font;
    color: $base_color;
    border: lighten($base_color, 50%) 2px solid;
    @include linear-gradient( 
      color-stops(
        lighten($base_color, 70%),
        lighten($base_color, 50%) 100%
      ));
      
    &.x-button-pressed {
      border: lighten($base_color, 30%) 2px solid;
      @include linear-gradient( 
        color-stops(
          lighten($base_color, 50%),
          lighten($base_color, 30%) 100%
        ));
    }
  }
}

div.detail-view {
  
  div.dataview-item {
    background-color: transparentize($base_color, 0.4);
    border: darken($base_color, 10%) 2px solid;
    @include border-radius(8px);
    margin: 0.6em;
    padding: 0.6em;
    font-weight: normal;
    
    .title {
      clear: left;
      font-size: $title_font + 0.1;
      padding-top: 0.8em;
      font-weight: bold;
    }
    .place, .date {
      color: darken($text_color, 10%);
      font-size: $date_font;
      background-color: darken($base_color, 8%);
      padding: 1px;
    }
    .place {
      float: right;
    }
    .date {
      float: left;
    }
    
    .info {
      font-size: $info_font;
      line-height: 1.5em;
    }
    
    .detail-item {
      margin-top: 16px;
      padding-top: 12px;
      border-top: $divide_color 1px solid;
      font-size: 0.9em;
      line-height: 1.5em;
      
      & > .name {
        font-size: 1.2em;
        font-weight: bold; 
      }
    }
    
    .right-box {
      float: right;
      font-size: 1.2em;
      border: darken(transparentize($base_color, 0.2), 8%) 2px solid;
      @include border-radius(8px);
      padding: 5px;
      
      &.open {
        background-color: $green_color;
      }
      &.closed {
        background-color: $red_color;
      }
    }
  }
  
  div.loading-indicator {
    @include loading();
    border-bottom: $divide_color 1px solid;
  }
}

.info-content.x-panel {
  background: lighten($base_color, 10%);
  
  .x-toolbar {
    @include box-shadow($base_color, 0px, 0px, 0px);
  }
}

.info-content .x-toolbar-title {
  color: $text_color;
}

.info-content .x-panel-body .x-html {
  padding: 5px;
}

#add-info {
  h4 {
    font-size: 1.4em;
    margin: 10px;
  }
}

#more-info {
  p {
    margin: 2px;
    text-align: center;
  }
  
  .share {
    margin: 12px 0px;
  }
}

.vote-bar.x-toolbar {
  background: darken($back_color, 10%);
  @include box-shadow(black, 0px, 0px, 8px);
  font-size: $title_font + 0.2;
  
  .vote-txt {
    text-align: center;
    font-size: $title_font + 0.3;
  }
  
  
  .x-button.x-button-plain {
    padding: 0px 5px;
    
    //-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 24, from(rgba(200, 66, 66, 0.699219)), to(rgba(200, 66, 66, 0)));
    
    &.vote-yes-bt {
      background-color: $green_color;
    }
    
    &.vote-no-bt {
      background-color: $red_color;
    }
    
    &.x-button-pressed {
      @include radial-gradient( 
        color-stops(
          rgba(255,255,255,0.3),
          rgba(255,255,255,0)
        ));
    }
  }
}

.gps-coords {
  background: darken($back_color, 10%);
  @include box-shadow(black, 0px, 0px, 8px);
  font-size: $title_font;
  padding: 0.5em;
}

.x-panel .x-panel-body {
  color: $text_color;
}

.x-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8000;
  display: -webkit-box;
  -webkit-box-align: start;
  -webkit-box-pack: center;
  
  width: 100%;
  padding: 1em;
  background: rgba(0,0,0,0.5) center center no-repeat;
  
  &.x-mask-gray {
    @include bodyBack();
    //background-color: rgba(0, 0, 0, 0.2);
  }
  
  .x-mask-loading {
    -webkit-border-radius: .5em;
    color: $text_color;
    border: $shadow_color 2px solid;
    text-align: left;
    padding: 1em 1em 1em 3em;
    font-size: $loading_font;
    font-weight: normal;
    display: block;
    width: 100%;
    height: 3.3em;
    background: $base_color url('../imgs/loading.gif') 0.9em center no-repeat;
  }
}

